<% # encoding: utf-8

@sourced_items ||= @source.sourced_items

%><h1><%= @source.name %></h1>

<table><tbody>
<tr><th>Title</th> <td><%= @source.title %></td></tr>
<tr><th>Description</th> <td><%= @source.description %></td></tr>
<tr><th>Processor</th> <td><%= @source.processor %></td></tr>
<tr><th>URL</th> <td><%= @source.url %></td></tr>
<tr><th>Method</th> <td><%= @source.method %></td></tr>
<tr><th>Post Args</th> <td><%= @source.post_args %></td></tr>
<tr><th>Options</th> <td><%= @source.options %></td></tr>
<tr><th>Last Updated</th> <td><%= @source.last_updated_at %></td></tr>
<tr><th>Refresh After</th> <td><%= @source.refresh_after_at %></td></tr>
</tbody></table>

<p class="actions"><%
if @source.has_authority_for_user_to?(@user, :can_update)
  %><%= link_to 'Process', processor_source_path(@source), :class => 'action' %><span class="separator">,</span>
<%= link_to 'Edit', edit_source_path(@source), :class => 'action' %><%
end
if @source.has_authority_for_user_to?(@user, :can_delete)
  %><span class="separator">,</span>
<%= link_to 'Delete', delete_source_path(@source), :data => {:confirm => 'Are you sure?'}, :method => :delete, :class => 'action' %><%
end
%>
<%= link_to 'New Source', new_source_path, :class => 'action' %></p>

<h2><%= @sourced_items.count %> Sourced Items</h2>
<ul>
<% @sourced_items.each do |sourced_item|
  item = sourced_item.item
  %><li><%= item.class %>: <%
  if sourced_item.has_local_modifications?
     %>(<span title="This item has been modified from the original source.">modified</span>) <%
  end %><%= link_to item.title, item %><%
  if !(item.is_approved?)
    %> (<span title="This item has not yet been approved.">not approved</span>)<%
  end %></li>
<% end %></ul>
