<%
office ||= @office
level ||= @level || office.level
user ||= @user
previous = office.previous
-%>
<%= render 'levels/breadcrumb', { level: level } %>
<h1><%= level.name %> office: <%= office.name %></h1>
<%
if previous
  %><p>Previous Office: <%= link_to previous.name, level_office_path(level, previous) %><%
end %><%

if office.url?
  %><p>Weblink: <%= link_to office.url, office.url %></p>
<%
end

if office.title?
  %><p>The holder of this office is called: <%= office.title %></p>
<%
end

if office.established_on?
  %><p>Established on <%= office.established_on.to_datetime.to_s(:simple_date) %></p>
<%
end

if office.ended_on?
  %><p>Ended on <%= office.ended_on.to_datetime.to_s(:simple_date) %></p>
<%
end

if office.description?
  %><p><%= office.description %></p>
<%
end

if office.ballots.count > 0
  %><h2>Elections</h2>
<ul><%
  office.ballots.each do |ballot|
    %><li><%= link_to ballot.election.descriptor, ballot.items_for_path %></li>
<%
  end
  %></ul>
<%
end

if user
  if office.has_authority_for_user_to?(user, :can_update)
    add_submenu_item(title: 'Edit Office', path: edit_level_office_path(level, office))
  end
  if office.has_authority_for_user_to?(user, :can_delete)
    add_submenu_item(title: 'Delete Office',
      path: delete_level_office_path(level, office),
      attrs: { data: { confirm: 'Are you sure?' }, method: :delete }
    )
  end
  if user.has_authority_for_area(Office.authority_area, :can_create)
    add_submenu_item(title: 'New Office', path: new_level_office_path(level))
    add_submenu_item(title: 'New Successor Office',
      path: new_office_with_previous_level_offices_path(level, office),
      attrs: { title: 'If this office has been replaced (e.g., during redistricting)' }
    )
    add_submenu_item(title: 'Add External Link',
      path: new_level_office_external_link_path(level, office),
      attrs: { class: 'new' }
    )
  end
end

-%>
