<%
# requires `person` local variable
%><%= form_for(person) do |f| %>
<%= show_errors(person) %>
<table><tbody>
<tr><th><%= f.label :fullname %></th>
  <td><%= f.text_field :fullname, size: 60, maxlength: 255 %></td></tr>
<tr><th><%= f.label :aliases_string, 'Aliases' %></th>
  <td><%= f.text_field :aliases_string, size: 60, maxlength: 255 %> (comma-separated)</td></tr>
<tr><th><%= f.label :filename %></th>
  <td><%= f.text_field :filename, size: 60, maxlength: 255 %></td></tr>
<tr><th><%= f.label :bio %></th>
  <td><%= f.text_area :bio, rows: 6 %></td></tr>
</tbody>
<tfoot><tr><th></th><td class="actions"><%= f.submit('Save Person') %></td></tr></tfoot>
</table>
<% end %>
