<%
ballot ||= @ballot
election ||= @election || ballot.election
level ||= @level || election.level
office ||= @office || ballot.office
user ||= @user
candidates ||= @candidates || ballot.candidates.running
candidates_who_quit ||= @candidates_who_quit

content_for(:head) do
  %><link rel="profile" href="http://microformats.org/profile/hcard" />
<%
end

# TODO: display metadata about the ballot: ballot.position and ballot.section

%><%= render 'elections/breadcrumb', { election: election } %>
<h1><%= link_to election.name, [level, election] %>
<br />ballot for <%= link_to office.name, [level, office] %><%
if ballot.is_byelection
  %> (byelection)<%
end
%></h1>
<%

dates = []
dates << "Term begins on #{ballot.term_start_on.to_datetime.to_s(:simple_date)}." if ballot.term_start_on?
dates << "Term ends on #{ballot.term_end_on.to_datetime.to_s(:simple_date)}." if ballot.term_end_on?
if dates.size > 0
  %><p><%= safe_join(dates, "\n<br />".html_safe) %></p>
<%
end

if ballot.url?
  %><p>Weblink: <%= link_to ballot.url, ballot.url %></p>
<%
end

if ballot.description?
  %><p><%= ballot.description %></p>
<%
end
-%>

<h2>Candidates</h2>
<% candidates.each do |candidate|
  %><%= render 'candidates/candidate_brief', { candidate: candidate, user: user } %><%
end -%>

<%
if candidates_who_quit && candidates_who_quit.count > 0
  %><p>The following potential candidates did not enter, or withdrew from, the race:</p>
<ul><%
  candidates_who_quit.each do |candidate|
    %><li><%= link_to candidate.name, level_election_ballot_candidate_path(level, election, ballot, candidate) %></li><%
  end
  %></ul>
<%
end

if user
  if ballot.has_authority_for_user_to?(user, :can_update)
    add_submenu_item(title: 'Edit Ballot',
      path: edit_level_election_ballot_path(level, election, ballot),
      attrs: { class: 'edit' }
    )
  end
  if ballot.has_authority_for_user_to?(user, :can_delete)
    add_submenu_item(title: 'Delete Ballot',
      path: delete_level_election_ballot_path(level, election, ballot),
      attrs: { data: { confirm: 'Are you sure?' }, method: :delete, class: 'delete' }
    )
  end
  if user.has_authority_for_area(Ballot.authority_area, :can_create)
    add_submenu_item(title: 'Add Candidate',
      path: new_level_election_ballot_candidate_path(level, election, ballot),
      attrs: { class: 'new' }
    )
  end
end

-%>
