<%
require 'date'
require 'event/day_events'
require 'event_presenter'

content_for(:head) do
  %><link rel="profile" href="http://microformats.org/profile/hcalendar" />
<%
end

date = @date # Date.new(@date.year, @date.month, @date.day)
prev_date = date - 1.day
next_date = date + 1.day
earliest_date = Event.earliest_date
last_date = Event.last_date
%><ul class="calendar-nav">
<% if earliest_date && prev_date >= earliest_date -%>
<li><%= link_to '<', calendar_day_path_for_date(prev_date), title: prev_date.to_time.to_s(:simple_date), class: 'prev' %></li>
<% end
if last_date && next_date <= last_date -%>
<li><%= link_to '>', calendar_day_path_for_date(next_date), title: next_date.to_time.to_s(:simple_date), class: 'next' %></li>
<% end -%>
</ul>
<%

event_count = @events.count
%><h1><%= event_count %> event<%= event_count == 1 ? '' : 's' %> on <%= date.strftime('%A') %>, <%= link_to @date.strftime('%B'), calendar_month_path(year: @date.year, month: @date.strftime('%m')) %> <%= @date.day %>, <%= link_to @date.year, calendar_year_path(year: @date.year) %></h1>

<%
events = Wayground::Event::DayEvents.new(day: date, events: @events)
events.all.each do |event|
  presenter = EventPresenter.new(view: self, event: event, user: @user)
  %><%= presenter.present_in_list %><%
end
%>
<%


add_submenu_item(title: 'Month View', path: calendar_month_path(@date.year, @date.strftime('%m')), attrs: { class: 'cal' })
add_submenu_item(title: 'Year View', path: calendar_year_path(@date.year), attrs: { class: 'cal' })
add_submenu_item(title: 'Events List View', path: events_path, attrs: { class: 'list' })
add_submenu_item(title: 'Calendar Subscription Options',
  path: calendar_subscribe_path, attrs: { class: 'subscribe' }
)

if @user && @user.authority_for_area(Event.authority_area, :can_create)
  add_submenu_item(title: 'New Event', path: new_event_path, attrs: { class: 'new' })
end
-%>
