<%
content_for(:head) do
  %><link rel="profile" href="http://microformats.org/profile/hcalendar" />
<%
end

prev_year = @date.year - 1
next_year = @date.year + 1
earliest_date = Event.earliest_date
last_date = Event.last_date
%><div class="calendar">
<ul class="calendar-nav">
<% if earliest_date && @date.prev_year.end_of_year >= earliest_date -%>
<li><%= link_to '<', calendar_year_path(prev_year), title: prev_year.to_s, class: 'prev' %></li>
<% end
if last_date && @date.next_year.beginning_of_year <= last_date -%>
<li><%= link_to '>', calendar_year_path(next_year), title: next_year.to_s, class: 'next' %></li>
<% end -%>
</ul>
<h1><%= @total_event_count %> event<%= @total_event_count == 1 ? '' : 's' %> in <%= @date.year %></h1>
<ul>
<%
months = (1..12).to_a
months.each do |month|
  month_event_count = @event_counts[month]
  %><li><%= link_to Date::MONTHNAMES[month], calendar_month_path(year: @date.year, month: format('%02d', month)) %>: <%= month_event_count %> event<%= month_event_count == 1 ? '' : 's' %>.</li>
<%
end
-%>
</ul>
<p class="smallprint">(The total for the year may not match the sum of the months because some events may span multiple months and be counted multiple times.)</p>
</div>
<%


add_submenu_item(title: 'Events List View', path: events_path, attrs: { class: 'list' })
add_submenu_item(title: 'Calendar Subscription Options',
  path: calendar_subscribe_path, attrs: { class: 'subscribe' }
)

if @user && @user.authority_for_area(Event.authority_area, :can_create)
  add_submenu_item(title: 'New Event', path: new_event_path, attrs: { class: 'new' })
end
-%>
