<% # encoding: utf-8
content_for(:head) do
  %><link rel="alternate" href="<%= events_path(:format => 'ics') %>" type="text/calendar" title="icalendar file for events" />
<link rel="profile" href="http://microformats.org/profile/hcalendar" />
<%
end
@page_main_class = 'calendar'

%><h2>Events</h2>
<p><%= link_to 'Subscribe to this calendar in your calendar application',
  "webcal://#{request.host_with_port}#{events_path(:format => :ics)}", :class => 'ics',
  :title => 'Calendar subscription link, compatible with most calendar applications' %>.</p>
<%= #show_pagination_header('events')
-%>
<%= #show_pagination_selector
-%>
<%= render 'events', {:events => @events, :user => @user} %>
<%
if @user.present?
  %><p class="actions"><%= link_to 'New Event', new_event_path, :class => 'action' %></p>
<%
end -%>
