<% # encoding: utf-8
@versioned_item = @event # let the application template know we’re looking at an item with versions

content_for(:head) do
  %><link rel="alternate" href="<%= event_path(@event, :format => 'ics') %>" type="text/calendar" title="icalendar file for event" />
<%
end

%><div class="vevent">
<h2 class="summary"><%
if @event.is_cancelled
  %><span class="status" title="CANCELLED">Cancelled:</span>
<%
end
%><%= @event.title %></h2>

<p><abbr class="dtstart" title="<%= @event.start_at.to_s(:microformat) %>"><%= @event.start_at.to_s(:plain_datetime) %></abbr><%
  event_end = @event.end_at
  unless event_end.blank?
    %>-<abbr class="dtend" title="<%= event_end.to_s(:microformat) %>"><%= event_end.to_s(:plain_time).lstrip! %></abbr><%
  end %>
<br /><%= link_to 'Download to your calendar.', event_path(@event, :format => 'ics'), :class => 'ics', :title => 'Download a file, with this event’s details, compatible with most calendar applications' %></p>
<p class="location"><%
  if @event.location_url?
    %><%= link_to @event.location, @event.location_url, :class => 'fn org' %><%
  else
    %><span class="fn org"><%= @event.location %></span><%
  end %>
<br /><span class="adr">
<span class="street-address"><%= @event.address %></span>
<br /><span class="locality"><%= @event.city %></span>, <span class="region"><%= @event.province %></span>, <span class="country-name"><%= @event.country %></span>
</span></p>

<%
event_organizer = @event.organizer
if event_organizer.present?
  %><p>Presented by <%
  event_organizer_url = @event.organizer_url
  if event_organizer_url.present?
    %><a href="<%= event_organizer_url %>" class="organizer"><%= event_organizer %></a><%
  else
    %><span class="organizer"><%= event_organizer %></span><%
  end
  %></p>

<%
end

if @event.description
  %><p><%= @event.description %></p>

<%
end

if @event.content?
  %><p><%= @event.content %></p>

<%
end

if @event.external_links.count > 0
  %><h3>Links</h3>
<ul>
<%
  @event.external_links.each do |external_link|
    %><li><%= link_to external_link.title, external_link.url, :class => "url #{(external_link.site)}".rstrip! %></li>
<%
  end
%></ul>

<%
end
if @user.present?
  %><p class="actions"><%
  if @event.has_authority_for_user_to?(@user, :can_update)
    %><%= link_to 'Edit', edit_event_path(@event), :class => 'action' %>
<%  if @event.has_authority_for_user_to?(@user, :can_delete)
      %><%= link_to 'Delete', delete_event_path(@event), :confirm => 'Are you sure?', :method => :delete, :class => 'action' %>
<%  end
  end
  %><%= link_to 'New Event', new_event_path, :class => 'action' %></p>
<%
end -%>
</div>
