<% # encoding: utf-8
@versioned_item = @event # let the application template know we’re looking at an item with versions
@page_main_class = 'vevent'

content_for(:head) do
  %><link rel="alternate" href="<%= event_path(@event, :format => 'ics') %>" type="text/calendar" title="icalendar file for event" />
<link rel="profile" href="http://microformats.org/profile/hcalendar" />
<%
end

%><h2 class="summary"><%
if @event.is_cancelled
  %><span class="status" title="CANCELLED">Cancelled:</span>
<%
end
%><%= @event.title %></h2>

<%
time_format = @event.is_allday ? :plain_date : :plain_datetime
event_start = @event.start_at
%><p><time class="dtstart" datetime="<%= event_start.to_s(:microformat) %>"><%= event_start.to_s(time_format) %></time><%
  event_end = @event.end_at
  unless event_end.blank? || event_end == event_start
    is_multi_day = event_end && (event_end.to_date > event_start.to_date)
    if is_multi_day
      %>
<br />to <time class="dtend" datetime="<%= event_end.to_s(:microformat) %>"><%= event_end.to_s(time_format) %></time><%
    elsif !(@event.is_allday)
      %>-<time class="dtend" datetime="<%= event_end.to_s(:microformat) %>"><%= event_end.to_s(:plain_time).lstrip! %></time><%
    end
  end %>
<br /><%= link_to 'Download to your calendar.', event_path(@event, :format => 'ics'), :class => 'ics', :title => 'Download a file, with this event’s details, compatible with most calendar applications' %></p>
<%

loc_location = @event.location
loc_address = @event.address
loc_city = @event.city
if loc_location.present? || loc_address.present? || loc_city.present?
  %><p class="location"><%
  loc_url = @event.location_url
  if loc_location.present?
    if loc_url.present?
      %><%= link_to loc_location, loc_url, :class => 'fn org' %><%
    else
      %><span class="fn org"><%= loc_location %></span><%
    end %>
<%  if loc_address.present?
      %><br /><span class="adr">
<span class="street-address"><%= loc_address %></span>
<%  end
  elsif loc_address.present?
    %><span class="adr"><%
    if loc_url.present?
      %><%= link_to loc_address, loc_url, :class => 'street-address' %><%
    else
      %><span class="street-address"><%= loc_address %></span><%
    end
    %>
<%
  else
    %><%= link_to 'location', loc_url %>
<span class="adr">
<%
  end
  if loc_city.present?
    %><br /><span class="locality"><%= loc_city %></span>, <span class="region"><%= @event.province %></span>, <span class="country-name"><%= @event.country %></span>
<%
  end
%></span></p>
<%
end

event_organizer = @event.organizer
if event_organizer.present?
  %><p>Presented by <%
  event_organizer_url = @event.organizer_url
  if event_organizer_url.present?
    %><a href="<%= event_organizer_url %>" class="organizer"><%= event_organizer %></a><%
  else
    %><span class="organizer"><%= event_organizer %></span><%
  end
  %></p>

<%
end

if @event.description?
  %><%= simple_text_to_html(@event.description) %>

<%
end

if @event.content?
  %><%= simple_text_to_html(@event.content) %>

<%
end

if @event.external_links.count > 0
  %><h3>Links</h3>
<ul>
<%
  @event.external_links.each do |external_link|
    %><li><%= link_to external_link.title, external_link.url, :class => "url #{(external_link.site)}".rstrip!, :target => '_blank' %></li>
<%
  end
%></ul>

<%
end
if @user.present?
  %><p class="actions"><%
  if @event.has_authority_for_user_to?(@user, :can_update)
    %><%= link_to 'Edit', edit_event_path(@event), :class => 'action' %>
<%  if @event.has_authority_for_user_to?(@user, :can_delete)
      %><%= link_to 'Delete', delete_event_path(@event), :confirm => 'Are you sure?', :method => :delete, :class => 'action' %>
<%  end
  end
  %><%= link_to 'New Event', new_event_path, :class => 'action' %></p>
<%
end -%>
