<%
require 'event_presenter'

event ||= @event
@versioned_item = event # let the application template know we’re looking at an item with versions
main_section_class 'vevent'

presenter = EventPresenter.new(view: self, event: event, user: @user)

content_for(:head) do
  %><link rel="alternate" href="<%= event_path(event, format: 'ics') %>" type="text/calendar" title="icalendar file for event" />
<link rel="profile" href="http://microformats.org/profile/hcalendar" />
<%
end

attrs = presenter.event_heading_attrs
attrs[:class] ||= []
attrs[:class] << 'summary'
%><%= presenter.html_tag(:h2, attrs) { presenter.present_status + event.title } %>

<p><%= presenter.present_schedule_with_date %>
<br /><%= link_to 'Download to your calendar.', event_path(event, format: 'ics'), class: 'ics', title: "Download this event as a file compatible with most calendar applications" %></p>

<%= presenter.present_location_block %>
<%
organizer = presenter.present_organizer
if organizer.present?
  %><p><%= organizer %></p>

<%
end

if event.description?
  %><%= simple_text_to_html(event.description) %>

<%
end

if event.content?
  %><%= simple_text_to_html(event.content) %>

<%
end


if event.external_links.count > 0
  content_for(:other_sections) do
    %>
<section class="external_links"><h3>Links for this event</h3>
<ul>
<%
  event.external_links.each do |external_link|
    %><%= render 'external_links/external_link', {user: @user, item: event, external_link: external_link} %><%
  end
%></ul>
</section>
<%
  end
end

user_can_update_this_event = @user && event.has_authority_for_user_to?(@user, :can_update)
if event.tags.count > 0 || user_can_update_this_event
  content_for(:other_sections) do
    %>
<section class="tags"><h3>Tags</h3>
<ul>
<%
  event.tags.each do |tag|
    %><li><%= link_to tag.title, events_path(tag: tag.tag), { rel: 'tag' } %></li>
<%
  end
%></ul>
<%
if user_can_update_this_event
  existing_tags = event.tag_list.to_s
  %><%= form_tag(update_tags_event_url(event)) do %>
<p><%= text_field_tag :tag_list, existing_tags %>
<br /><%= submit_tag "Update Tags" %></p>
<% end %><%
end
%></section>
<%
  end
end


if @user
  if event.has_authority_for_user_to?(@user, :can_update)
    add_submenu_item(title: 'Edit', path: edit_event_path(event), attrs: { class: 'edit' })
  end
  if !(event.is_approved?) && event.has_authority_for_user_to?(@user, :can_approve)
    add_submenu_item(title: 'Approve', path: approve_event_path(event),
      attrs: {
        class: 'approve',
        data: { confirm: "Are you sure you want to approve the event “#{event.title}”?" },
        method: :post
      }
    )
  end
  if event.has_authority_for_user_to?(@user, :can_delete)
    if event.has_authority_for_user_to?(@user, :can_update)
      add_submenu_item(title: 'Merge', path: merge_event_path(event),
        attrs: { class: 'merge', title: 'Merge with another existing Event' }
      )
    end
    add_submenu_item(title: 'Delete', path: [:delete, event],
      attrs: { class: 'delete', data: { confirm: 'Are you sure?' }, method: :delete }
    )
  end
  if event.has_authority_for_user_to?(@user, :can_create)
    add_submenu_item(title: 'Add External Link', path: new_event_external_link_path(event),
      attrs: { class: 'new' }
    )
  end
end

date = event.start_at
add_submenu_item(title: 'Calendar View', path: calendar_month_path(date.year, date.strftime('%m')), attrs: { class: 'cal' })
add_submenu_item(title: 'Events List View', path: events_path, attrs: { class: 'list' })
add_submenu_item(title: 'Calendar Subscription Options',
  path: calendar_subscribe_path, attrs: { class: 'subscribe' }
)

if @user && @user.has_authority_for_area(Event.authority_area, :can_create)
  add_submenu_item(title: 'New Event', path: new_event_path, attrs: { class: 'new' })
end
-%>
