<%
require 'wayground_form_builder'

# requires `election` local variable
level ||= election.level
%><%= form_for([level, election], :builder => WaygroundFormBuilder) do |f| %>
<%= show_errors(election) %>
<table><tbody>
<tr><th><%= f.label :name %></th>
  <td><%= f.text_field :name, size: 60, maxlength: 255 %></td></tr>
<tr><th><%= f.label :filename %></th>
  <td><%= f.text_field :filename, size: 60, maxlength: 255 %></td></tr>
<tr><th><%= f.label :url %></th>
  <td><%= f.url_field :url, size: 60, placeholder: 'http://' %></td></tr>
<tr><th><%= f.label :start_on %></th>
  <td><%= f.date_field :start_on %> (date)</td></tr>
<tr><th><%= f.label :end_on %></th>
  <td><%= f.date_field :end_on %> (date)</td></tr>
<tr><th><%= f.label :description %></th>
  <td><%= f.text_area :description, rows: 4 %></td></tr>
</tbody>
<tfoot><tr><th></th><td class="actions"><%= f.submit('Save Election') %></td></tr></tfoot>
</table>
<% end %>
