<%
@page_uses_javascript = true

%><h1>Web Pages</h1>
<%= show_pagination_header('pages') %>
<%= show_pagination_selector %>
<table>
<thead><tr>
<th>Parent</th>
<th>Filename</th>
<th>Title</th>
<th>Description</th>
<th>Actions</th>
</tr></thead>
<tbody>
<% @pages.each do |page|
  %><tr>
<td><%= page.parent ? page.parent.sitepath : '' %></td>
<td>/<%= page.filename == '/' ? '' : page.filename %></td>
<td><%= page.title %></td>
<td><%= page.description %></td>
<td><%= render :partial => 'actions', :locals => {:page => page} %></td>
</tr>
<% end %></tbody>
</table>

<p class="actions">
<%= link_to 'New Page', new_page_path, :title => 'Create a new page', :class => 'action' %>
</p>
