<% if @page.parent
  %><p>
<b>Parent:</b>
<%= link_to @page.parent.title, @page.parent %>
</p>
<% end -%>
<p>
<b>Filename:</b>
<%= link_to @page.filename, @page.sitepath %>
</p>

<p>
<b>Title:</b>
<%= @page.title %>
</p>

<p>
<b>Description:</b>
<%= @page.description %>
</p>

<h2>Content:</h2>
<div class="preview"><%= @page.content.html_safe %></div>


<p class="actions">
<%= render :partial => 'actions', :locals => {:page => @page} %>
</p>
