<% user = @document.user
if user -%>
<p>
  <b>User:</b>
  <%= user.name %>
</p>
<% end
path = @document.path
if path -%>
<p>
  <b>Path:</b>
  <%= path.sitepath %>
</p>
<% end -%>
<p>
  <b>Filename:</b>
  <%= @document.filename %>
</p>

<p>
  <b>Size:</b>
  <%= @document.size %>
</p>

<p>
  <b>Content type:</b>
  <%= @document.content_type %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p class="actions"><%= link_to 'Download', "/download/#{@document.id}/#{@document.filename}", class: 'action' %>
<%= link_to 'Edit', edit_document_path(@document), class: 'action' %>
<%= link_to 'Delete', [:delete, @document], data: { confirm: 'Are you sure?' }, method: :delete, class: 'action' %>
<%= link_to 'New Document', new_document_path, class: 'action' %></p>
