<%
require 'contact_presenter'
require 'external_link_presenter'

# requires candidate
user ||= nil

div_classes = ['vcard']
div_classes << 'rumoured' if candidate.is_rumoured?
div_classes << 'elected' if candidate.is_elected?
div_classes << 'quit' if candidate.quit_on?
%><div class="<%= div_classes.join(' ') %>">
<h3 class="fn"><%= link_to candidate.name, candidate.items_for_path, class: 'url' %><%
party = candidate.party
if party
  %> (<%= link_to party.name, [party.level, party] %>)<%
end
%></h3>
<%
if candidate.vote_count > 0
  %>received <%= candidate.vote_count %> votes.
<%
end
contact = candidate.contacts.only_public.first
if contact
  presenter = ContactPresenter.new(view: self, contact: contact, user: user)
  %><%= presenter.present_attributes_short %><%
end
links = candidate.external_links.where('site IN (?)', %w(facebook flickr google linkedin youtube))
links.each do |link|
  presenter = ExternalLinkPresenter.new(view: self, link: link, user: user)
  %><%= presenter.present_link_in(:span) %>
<%
end
%></div>
<%
-%>
