<%
require 'contact_presenter'
require 'external_link_presenter'

candidate ||= @candidate
contacts ||= @contacts
external_links ||= @external_links
ballot ||= @ballot || candidate.ballot
election ||= @election || ballot.election
office ||= @office || ballot.office
level ||= @level || election.level
person ||= @person || candidate.person
user ||= @user

content_for(:head) do
  %><link rel="profile" href="http://microformats.org/profile/hcard" />
<%
end

%><%= render 'ballots/breadcrumb', { ballot: ballot } %>
<h1><%= candidate.name %></h1>
<p>Candidate for <%= link_to office.name, [level, election, ballot] %><%
if candidate.is_rumoured
  %> <span class="rumoured">(unconfirmed)</span><%
end %>.
<br />in <%= link_to election.name, [level, election] %> (<%= link_to level.name, level %>).</p>
<%

dates = []
dates << "Candidacy announced on #{candidate.announced_on.to_datetime.to_s(:simple_date)}." if candidate.announced_on?
dates << "Withdrew from election on #{candidate.quit_on.to_datetime.to_s(:simple_date)}." if candidate.quit_on
if dates.size > 0
  %><p><%= safe_join(dates, "\n<br />".html_safe) %></p>
<%
end

vote_count = candidate.vote_count
if vote_count > 0
  %><p>Received <%= vote_count %> votes.</p>
<%
end

if contacts.count > 0
  %><h2>Contacts</h2>
<%
  contacts.each do |contact|
    presenter = ContactPresenter.new(view: self, contact: contact, user: user)
    %><p class="vcard"><%= presenter.present_attributes("<br />".html_safe) %></p>
<%
  end
end

if external_links.count > 0
  %><h2>Links</h2>
<ul class="link-list">
<%
  external_links.each do |link|
    presenter = ExternalLinkPresenter.new(view: self, link: link, user: user)
    %><%= presenter.present_link_in(:li) %>
<%
  end
  %></ul>
<%
end

if user.present?
  if candidate.has_authority_for_user_to?(user, :can_update)
    add_submenu_item(title: "Edit",
      path: edit_level_election_ballot_candidate_path(level, election, ballot, candidate)
    )
  end
  if candidate.has_authority_for_user_to?(user, :can_delete)
    add_submenu_item(title: 'Delete', path: [:delete, level, election, ballot, candidate],
      attrs: { data: { confirm: 'Are you sure?' }, method: :delete }
    )
  end
  if candidate.has_authority_for_user_to?(@user, :can_create)
    add_submenu_item(title: 'Add Contact',
      path: new_level_election_ballot_candidate_contact_path(level, election, ballot, candidate)
    )
  end
  if candidate.has_authority_for_user_to?(@user, :can_create)
    add_submenu_item(title: 'Add Link',
      path: new_level_election_ballot_candidate_external_link_path(level, election, ballot, candidate)
    )
  end
  if user.has_authority_for_area(Candidate.authority_area, :can_create)
    add_submenu_item(title: 'New Candidate',
      path: new_level_election_ballot_candidate_path(level, election, ballot)
    )
  end
end -%>

<%
bio = person.bio
if bio.present?
  %><h2>Biography</h2>
<p><%= bio %></p>
<%
end
-%>
