<%= form_for(project) do |f| %>
<%= show_errors(project) %>
<table><tbody>
<tr><th><%= f.label :name %></th>
  <td><%= f.text_field :name, :size => 60 %></td></tr>
<tr><th><%= f.label :filename %></th>
  <td><%= f.text_field :filename, :limit => 127, :size => 20 %></td></tr>
<tr><th><%= f.label :description %></th>
  <td><%= f.text_area :description, :rows => 6 %></td></tr>
<tr class="heading"><th colspan="2"><h2>Settings</h2></th></tr>
<tr><th></th> <td><%= f.check_box :is_visible %> <%= f.label :is_visible %></td></tr>
<tr><th></th> <td><%= f.check_box :is_public_content %> <%= f.label :is_public_content %></td></tr>
<tr><th></th> <td><%= f.check_box :is_visible_member_list %> <%= f.label :is_visible_member_list %></td></tr>
<tr><th></th> <td><%= f.check_box :is_joinable %> <%= f.label :is_joinable %></td></tr>
<tr><th></th> <td><%= f.check_box :is_members_can_invite %> <%= f.label :is_members_can_invite %></td></tr>
<tr><th></th> <td><%= f.check_box :is_not_unsubscribable %> <%= f.label :is_not_unsubscribable %></td></tr>
<tr><th></th> <td><%= f.check_box :is_moderated %> <%= f.label :is_moderated %></td></tr>
<tr><th></th> <td><%= f.check_box :is_only_admin_posts %> <%= f.label :is_only_admin_posts %></td></tr>
<tr><th></th> <td><%= f.check_box :is_no_comments %> <%= f.label :is_no_comments %></td></tr>
</tbody>
<tfoot><tr><th></th><td class="actions"><%= f.submit('Save Project') %></td></tr></tfoot>
</table>
<% end %>
