<%
item = @version.item
user = @version.user

-%>
<p><b>Item:</b>
<%= link_to item.title, item %>
</p>
<p><b>User:</b>
<%= link_to user.name, profile_path(user) %>
</p>
<p><b>Edited at:</b>
<%= @version.edited_at %>
</p>
<p><b>Edit Comment:</b>
<%= @version.edit_comment %>
</p>

<table><tbody>
<tr><th>Filename:</th> <td><%= @version.filename %></td></tr>
<tr><th>Title:</th> <td><%= @version.title %></td></tr>
<% @version.values.each do |key, value|
  -%><tr><th><%= key %>:</th> <td><%= value %></td></tr>
<% end -%>
</tbody></table>
