<%
level ||= @level
user ||= @user
parents = level.parent_chain.reverse
user_can_create = user.present? && user.has_authority_for_area(Level.authority_area, :can_create)

%><h1><%= level.name %><%
parents.each do |parent|
  %>, <%= link_to parent.name, level_path(parent) %><%
end %></h1>
<%

if level.url?
  %><p>Weblink: <%= link_to level.url, level.url %></p>
<%
end


children = level.children
if children.count > 0
  content_for(:other_sections) do
    %>
<section><h2>Sub-Levels</h2>
<ul>
<%
  children.each do |child|
    %><li><%= link_to child.name, child %></li>
<%
  end
  %></ul>
</section>
<%
  end
end


content_for(:other_sections) do
  %>
<section><h2>Offices</h2>
<ul><%
  level.offices.each do |office|
    %><%= render 'offices/list_item', { office: office } %><%
  end
  %></ul>
</section>
<%
end


content_for(:other_sections) do
  %>
<section><h2>Elections</h2>
<ul><%
  level.elections.order('end_on DESC').each do |election|
    %><%= render 'elections/list_item', { election: election } %><%
  end
  %></ul>
</section>
<%
end


if level.parties.count > 0
  content_for(:other_sections) do
    %>
<section><h2>Parties</h2>
<ul><%
  level.parties.order('name').each do |party|
    %><%= render 'parties/list_item', { party: party, user: @user } %><%
  end
  %></ul>
</section>
<%
  end
end


if user
  if level.has_authority_for_user_to?(user, :can_update)
    add_submenu_item(title: 'Edit Level', path: edit_level_path(level))
  end
  if level.has_authority_for_user_to?(user, :can_delete)
    add_submenu_item(title: 'Delete Level',
      path: [:delete, level],
      attrs: { data: { confirm: 'Are you sure?' }, method: :delete, class: 'action' }
    )
  end
  if user.has_authority_for_area(Level.authority_area, :can_create)
    add_submenu_item(title: 'New Level', path: new_level_path)
    add_submenu_item(title: 'New Sub-Level', path: new_level_with_parent_levels_path(level))
  end
  if user.has_authority_for_area(Office.authority_area, :can_create)
    add_submenu_item(title: 'Add Office',
      path: new_level_office_path(level)
    )
  end
  if user.has_authority_for_area(Election.authority_area, :can_create)
    add_submenu_item(title: 'Add Election',
      path: new_level_election_path(level)
    )
  end
  if user.has_authority_for_area(Party.authority_area, :can_create)
    add_submenu_item(title: 'Add Party',
      path: new_level_party_path(level)
    )
  end
end

-%>
