<% user = @authority.user -%>
<p><b>User:</b> <%= link_to user.email, profile_path(user) %></p>

<% item = @authority.item
if item
  %><p><b><%= item.class.name %>:</b> <%= item.name %></p>
<% end -%>

<p><b>Area:</b> <%= @authority.area %></p>

<p><b>Is owner:</b> <%= @authority.is_owner %></p>

<p>
<b>Can create:</b>
<%= @authority.can_create %>
<br /><b>Can view:</b>
<%= @authority.can_view %>
<br /><b>Can update:</b>
<%= @authority.can_update %>
<br /><b>Can delete:</b>
<%= @authority.can_delete %>
<br /><b>Can invite:</b>
<%= @authority.can_invite %>
<br /><b>Can permit:</b>
<%= @authority.can_permit %>
<br /><b>Can approve:</b>
<%= @authority.can_approve %>
</p>

<p class="actions"><%= link_to 'Edit', edit_authority_path(@authority), :class => 'action' %></p>
