<%
require 'metadata_presenter'

# Parameters - all are optional
#
# page_metadata.title: Used in the <title> meta tag. If blank, defaults to the site title.
# page_metadata.nocache: A boolean that instructs browsers and search engines not to cache the content of this page.
# page_metadata.description: Plain text string to be used as the value for the <meta name="description"> tag.
# @site_section: symbol for the active section of the website. E.g.: :events
# @site_breadcrumbs: An array of hashes {text: ?, url: ?} describing the hierarchical navigation parentage of the current item.
# page_submenu_items: An array of hashes {title: ?, path: ?} to use to create links in the submenu for the page. Use the `add_submenu_item` method to add items.
# @page_main_class: a name to include in the class attribute of the id="main" wrapper around the page-specific content. Set this using the `set_main_section_class` helper.

# Blocks - all are optional. Called with ‘content_for :block_name do … end’.
#
# :actions - links (of class="action") to go in the action bar for the page (at the top of the footer).
# :footer - Goes in the footer, right after the actions (if any).
# :head - Goes at the end of the head. Useful for custom meta tags, javascript links, etc.

page_meta = page_metadata
metadata = {view: self, title: page_meta.title, description: page_meta.description, nocache: page_meta.nocache}
metadata_presenter = MetadataPresenter.new(metadata)

%><!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#"><head><meta charset="utf-8">
<%= metadata_presenter.present_title %>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css" media="screen,print">
@font-face {
font-family:'FontAwesome'; font-weight:normal; font-style:normal;
src:url('/fonts/fontawesome-webfont.eot?v=3.2.1');
src:url('/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
}
@font-face {
font-family: 'Ubuntu'; font-weight:400; font-style:normal;
src:url('/fonts/Ubuntu/Ubuntu.eot');
src:local('Ubuntu'), url('/fonts/Ubuntu/Ubuntu.eot') format('embedded-opentype'), url('/fonts/Ubuntu/Ubuntu.woff') format('woff'), url('/fonts/Ubuntu/Ubuntu.ttf') format('truetype');
}
@font-face {
font-family: 'Ubuntu'; font-weight:700; font-style:normal;
src:url('/fonts/Ubuntu/Ubuntu-Bold.eot');
src:local('Ubuntu Bold'), local('Ubuntu-Bold'), url('/fonts/Ubuntu/Ubuntu-Bold.eot') format('embedded-opentype'), url('/fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'), url('/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
@font-face {
font-family: 'Ubuntu'; font-weight:400; font-style:italic;
src:url('/fonts/Ubuntu/Ubuntu-Italic.eot');
src:local('Ubuntu Italic'), local('Ubuntu-Italic'), url('/fonts/Ubuntu/Ubuntu-Italic.eot') format('embedded-opentype'), url('/fonts/Ubuntu/Ubuntu-Italic.woff') format('woff'), url('/fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}
@font-face {
font-family: 'Ubuntu'; font-weight:700; font-style:italic;
src:url('/fonts/Ubuntu/Ubuntu-BoldItalic.eot');
src:local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url('/fonts/Ubuntu/Ubuntu-BoldItalic.eot') format('embedded-opentype'), url('/fonts/Ubuntu/Ubuntu-BoldItalic.woff') format('woff'), url('/fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
}
@font-face {
font-family: 'UbuntuCondensed'; font-weight:400; font-style:normal;
src:url('/fonts/UbuntuCondensed/UbuntuCondensed-Regular.eot');
src:local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url('/fonts/UbuntuCondensed/UbuntuCondensed-Regular.eot') format('embedded-opentype'), url('/fonts/UbuntuCondensed/UbuntuCondensed-Regular.woff') format('woff'), url('/fonts/UbuntuCondensed/UbuntuCondensed-Regular.ttf') format('truetype');
}
</style>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<%= csrf_meta_tags %>
<%= metadata_presenter.present_metatags -%>
<%= yield :head -%>
</head><body onTouchEnd="return true;">

<header role="banner">
<%
# If you don’t want a subtitle, remove that paragraph and take away the "maintitle" id from the heading.
-%>
<h1><a href="/"><img src="/apple-touch-icon-114x114.png" alt=" " id="logo" /> <%= Wayground::Application::NAME %></a></h1>
<% unless Wayground::Application::DESCRIPTION.blank?
  %><p id="subtitle"><%= Wayground::Application::DESCRIPTION %></p>
<% end -%>

<%

if current_user
  usermenu_class = 'signed-in'
  usermenu_title = "Signed in as #{current_user.name}"
  case session[:source]
  when 'twitter'
    usermenu_class += ' twitter'
    usermenu_title += ' (via Twitter)'
  when 'facebook'
    usermenu_class += ' facebook'
    usermenu_title += ' (via Facebook)'
  end
else
  usermenu_class = 'signed-out'
end
%>
<div id="usermenu" class="<%= usermenu_class %>" title="<%= usermenu_title %>" onTouchEnd="return false;">
<% if current_user.nil?
    %><p>Signed Out</p>
<ul>
<li><%= link_to 'Register as New User', signup_path %></li>
<li><%= link_to 'Sign In', signin_path %></li>
</ul><%
  else
    %><p id="username"><%= current_user.name %><%
    case session[:source]
    when 'twitter'
      %><%= image_tag('/icon/site/twitter.png', alt: '(via Twitter)', size: '16x16') %><%
    when 'facebook'
      %><%= image_tag('/icon/site/facebook.png', alt: '(via Facebook)', size: '16x16') %><%
    end
    %></p>
<ul><li><%= link_to 'Your Account', account_path %></li><li><%= link_to 'Sign Out', signout_path %></li></ul><%
  end %>
</div>
</header>

<nav role="navigation"><%
today = Date.today
site_sections = {
  calendar: { title: 'Calendar', path: calendar_path, class: 'cal' },
  projects: {title: 'Projects', path: projects_path},
  pages: {title: 'Pages', path: pages_path},
  documents: {title: 'Documents', path: documents_path},
  sources: {title: 'Sources', path: sources_path},
  admin: {title: 'Admin', path: settings_path}
}
site_hidden_sections = {
  events: {title: 'Events', path: events_path},
  images: {title: 'Images', path: images_path},
  authorities: {title: 'Authorities', path: authorities_path},
  paths: {title: 'Paths', path: paths_path},
  settings: {title: 'Settings', path: settings_path}
}
if @site_section
  current_section = site_sections[@site_section] || site_hidden_sections[@site_section]
  if current_section
    %><p><%= link_to current_section[:title], current_section[:path] %></p>
<%
  end
end
%><ul>
<%
site_sections.each do |key, nav_section|
  if @site_section == key
    %><li class="current"><%
  else
    %><li><%
  end
  %><%= link_to nav_section[:title], nav_section[:path] %></li>
<%
end
%><li class="more"></li>
</ul></nav>
<div id="headerspace"></div>

<%


if @site_breadcrumbs && @site_breadcrumbs.size > 0
  %><ul id="breadcrumb">
<%
  @site_breadcrumbs.each do |breadcrumb|
    if breadcrumb[:highlight]
      %><li class="highlight"><%
    else
      %><li><%
    end
    %><%= link_to breadcrumb[:text], breadcrumb[:url] %></li>
<%
  end
  %></ul>

<%
end


flash_count = (flash && flash.count) || 0
if flash_count > 0
  %>
<div id="flash"<%= flash_count <= 0 ? ' class="hidden"'.html_safe : '' %>><%
if flash_count > 0
  flash.each do |key, msg|
    %><p class="<%= key %>"><%= msg %></p>
<% end
end %></div>

<%
end


%>
<section id="main" class="<%= @page_main_class %>" role="main">
<%= yield %>
</section>

<%
# Additional sections may be included by making calls like:
#   content_for(:other_sections) do ... end
# Each section must be wrapped in its own <section> tags.
%><%= yield :other_sections -%>

<%
# An optional submenu. Normally styled to be fixed to the bottom of the page.
case @site_section
when :projects
  submenu_items = [
    {title: 'New Project', path: new_project_path}
  ]
when :sources
  submenu_items = [
    {title: 'New Source', path: new_source_path}
  ]
when :documents
  submenu_items = [
    {title: 'New Document', path: new_document_path}
  ]
when :pages
  submenu_items = [
    {title: 'New Page', path: new_page_path}
  ]
when :paths
  submenu_items = [
    {title: 'New Path', path: new_path_path}
  ]
when :settings
  submenu_items = [
    {title: 'New Setting', path: new_setting_path}
  ]
when :admin
  submenu_items = [
    {title: 'Settings', path: settings_path},
    {title: 'Pages', path: pages_path},
    {title: 'Paths', path: paths_path},
    {title: 'Documents', path: documents_path},
    {title: 'Sources', path: sources_path},
    {title: 'Authorities', path: authorities_path}
  ]
when :authorities
  submenu_items = [
    {title: 'New Authority', path: new_authority_path}
  ]
else
  submenu_items = []
end
submenu_items += page_submenu_items
if submenu_items.size > 0
  %><div id="subnavmenu"><ul>
<%
  submenu_items.each do |submenu_item|
    %><li><%= link_to submenu_item[:title], submenu_item[:path], submenu_item[:attrs] %></li>
<%
  end
%></ul></div>
<%
end -%>

<footer role="contentinfo">
<%
if @versioned_item || content_for?(:actions)
  %><p class="actions">
<%
  if @versioned_item && @versioned_item.versions.count > 1
    if @versioned_item.is_a? Page
      %><%= link_to 'Versions', page_versions_path(@versioned_item), class: 'action',
        title: 'Previous versions of this Page' %>
<%  elsif @versioned_item.is_a? Event
      %><%= link_to 'Versions', event_versions_path(@versioned_item), class: 'action',
        title: 'Previous versions of this Event' %>
<%  end
  end
%><%= yield :actions %>
</p>
<% end -%>
<%= yield :footer -%>
<p id="about"><a href="/about">About <%= Wayground::Application::NAME %></a>.</p>
<p id="copyright">Copyright ©2003-<%= Time.now.strftime('%Y') %> <%= Wayground::Application::NAME %>.</p>
</footer>
</body></html>