<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Wayground</title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults %>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<%= csrf_meta_tag %>
</head><body>

<div id="header">
<ul id="user-menu" class="<%= current_user.nil? ? "signed-out" : "signed-in" %>">
<% if current_user.nil? %>
<li><%= link_to 'Register as New User', sign_up_path %></li>
<li><%= link_to 'Sign In', sign_in_path %></li>
<% else -%>
<li><%= link_to 'My Account', account_path %></li>
<li><%= link_to 'Sign Out', sign_out_path %></li>
<% end -%>
</ul>
</div>

<div id="flash"<%= flash.length <= 0 ? ' style="display:none"' : '' %>><%
if flash.length > 0
	flash.each do |key, msg|
		%><p class="<%= key %>"><%= msg %></p>
<%	end
end %></div>

<div id="content">
<%= yield %>
</div>
</body></html>