<% # encoding: utf-8

# Parameters - all are optional
#
# @page_title: Used in the <title> meta tag. If blank, defaults to the site title.
# @page_uses_javascript: A boolean that determines whether to load the default javascript files.
# @rich_text_editor: A boolean that determines whether to load the support files for displaying a rich text editor (CKEditor).
# @browser_nocache: A boolean that instructs browsers and search engines not to cache the content of this page.
# @page_description: Plain text string to be used as the value for the <meta name="description"> tag.
# @site_section: lower-case string label for the active section of the website.
# @site_breadcrumbs: An array of hashes {:text => ?, :url => ?} describing the hierarchical navigation parentage of the current item.

# Blocks - all are optional. Called with ‘content_for :block_name do … end’.
#
# :actions - links (of class="action") to go in the action bar for the page (at the top of the footer).
# :footer - Goes in the footer, right after the actions (if any).
# :head - Goes at the end of the head. Useful for custom meta tags, javascript links, etc.

%><!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title><%
if @page_title.blank? or params[:url] == '/'
	%>Wayground<%
else
	%><%=h @page_title %> — Wayground<%
end
%></title>
<meta name="viewport" content="width=device-width" />
<% # Source: http://www.google.com/webfonts/family?family=Ubuntu&subset=latin -%>
<!--link href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold" rel="stylesheet" type="text/css"-->
<%= stylesheet_link_tag 'wayground-all', :media => 'all' %>
<%= stylesheet_link_tag 'wayground-print', :media => 'print' %>
<%= stylesheet_link_tag 'wayground-screen', :media => 'screen' %>
<% if @page_uses_javascript
  %><%= javascript_include_tag :defaults %>
<% end
if @rich_text_editor
  %><%= javascript_include_tag '/ckeditor/ckeditor.js' %>
<% # javascript_include_tag '/ckeditor/adapters/jquery.js'
end -%>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<%= csrf_meta_tag %>
<%
if @browser_nocache
	%><meta name="robots" content="noindex" />
<% end
unless @page_description.blank?
	%><meta name="description" content="<%=h @page_description %>" />
<% end
%><%= yield :head -%>
</head><body>

<div id="header">
<div id="headertitle">
<p id="maintitle"><a href="/">Wayground</a></p>
<p id="subtitle">Tools for connecting, communicating and collaborating.</p>
</div>
<ul id="usermenu" class="<%= current_user.nil? ? "signed-out" : "signed-in" %>">
<%	if current_user.nil?
		%><li><%= link_to 'Register as New User', signup_path %></li><li><%= link_to 'Sign In', signin_path %></li><%
	else
		%><li class="text">Signed in as <%= current_user.name %> <%
		case session[:source]
		when 'twitter'
			%><%= image_tag('/icon/site/twitter.png', :alt => '(via Twitter)', :title => 'via Twitter', :size => '16x16') %><%
		when 'facebook'
			%>(via Facebook)<%
		end
		%></li><li><%= link_to 'Your Account', account_path %></li><li><%= link_to 'Sign Out', signout_path %></li><%
	end %>
</ul>
<form action="" method="get" accept-charset="utf-8" id="globalsearch">
<p><input name="key" type="text" size="24" placeholder="Search this website" required><input type="submit" value="Search"></p>
</form>
</div>

<ul id="navmenu">
<li<%= @site_section == 'Pages' ? ' class="current"'.html_safe : '' %>><%= link_to 'Pages', pages_path %></li>
<li<%= @site_section == 'Events' ? ' class="current"'.html_safe : '' %>><%= link_to 'Events', events_path %></li>
<li<%= @site_section == 'Admin' ? ' class="current"'.html_safe : '' %>><a href="">Admin</a></li>
<li<%= @site_section == 'Documents' ? ' class="current"'.html_safe : '' %>><%= link_to 'Documents', documents_path %></li>
</ul>
<%
if @site_breadcrumbs && @site_breadcrumbs.size > 0
	%><ul id="breadcrumb">
<%	@site_breadcrumbs.each do |breadcrumb|
		%><li><%= link_to breadcrumb[:text], breadcrumb[:url] %></li>
<% 	end
	%></ul>
<%
end

if flash.length > 0 %>
<div id="flash"<%= flash.length <= 0 ? ' class="hidden"'.html_safe : '' %>><%
if flash.length > 0
	flash.each do |key, msg|
		%><p class="<%= key %>"><%= msg %></p>
<%	end
end %></div>
<% end -%>

<div id="content">
<%= yield %>
</div>

<div id="footer">
<% if content_for? :actions
	%><p class="actions">
<%= yield :actions %>
</p>
<% end -%>
<%= yield :footer -%>
<p id="about"><a href="">About Wayground</a>.</p>
<p id="copyright">Copyright ©2003-<%= Time.now.strftime('%Y') %> Wayground.</p>
</div>
</body></html>