<% # encoding: utf-8

# Parameters - all are optional
#
# @page_title: Used in the <title> meta tag. If blank, defaults to the site title.
# @page_uses_javascript: A boolean that determines whether to load the default javascript files.
# @rich_text_editor: A boolean that determines whether to load the support files for displaying a rich text editor (CKEditor).
# @browser_nocache: A boolean that instructs browsers and search engines not to cache the content of this page.
# @page_description: Plain text string to be used as the value for the <meta name="description"> tag.
# @site_section: lower-case string label for the active section of the website.
# @site_breadcrumbs: An array of hashes {:text => ?, :url => ?} describing the hierarchical navigation parentage of the current item.
# @page_has_chunks: set true if the page content is in chunks (usually class="contentchunk" elements).
# @page_main_class: a name to include in the class attribute of the id="main" wrapper around the page-specific content.

# Blocks - all are optional. Called with ‘content_for :block_name do … end’.
#
# :actions - links (of class="action") to go in the action bar for the page (at the top of the footer).
# :footer - Goes in the footer, right after the actions (if any).
# :head - Goes at the end of the head. Useful for custom meta tags, javascript links, etc.

%><!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8">
<title><%
if @page_title.blank? or params[:url] == '/'
  %><%= Wayground::Application::NAME %><%
else
  %><%=h @page_title %> [<%= Wayground::Application::NAME %>]<%
end
%></title>
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% # Source: http://www.google.com/webfonts/family?family=Ubuntu&subset=latin -%>
<!--link href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold" rel="stylesheet" type="text/css"-->
<%= stylesheet_link_tag 'wayground-all', :media => 'all' %>
<%= stylesheet_link_tag 'wayground-print', :media => 'print' %>
<%= stylesheet_link_tag 'wayground-screen', :media => 'screen' %>
<% if @page_uses_javascript
  %><%= javascript_include_tag :defaults %>
<% end
if @rich_text_editor
  %><%= javascript_include_tag '/ckeditor/ckeditor.js' %>
<% # javascript_include_tag '/ckeditor/adapters/jquery.js'
end -%>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
<%= csrf_meta_tag %>
<%
if @browser_nocache
	%><meta name="robots" content="noindex" />
<% end
unless @page_description.blank?
	%><meta name="description" content="<%=h @page_description %>" />
<% end
%><%= yield :head -%>
</head><body>

<header id="header" role="banner">
<div id="headertitle">
<%
# If you don’t want a subtitle, remove that paragraph and take away the "maintitle" id from the heading.
-%>
<h1 id="maintitle"><a href="/"><img src="/apple-touch-icon-114x114.png" alt=" " id="logo" /><%= Wayground::Application::NAME %></a></h1>
<p id="subtitle"><%= Wayground::Application::DESCRIPTION %></p>
</div>
<ul id="usermenu" class="<%= current_user.nil? ? "signed-out" : "signed-in" %>">
<%	if current_user.nil?
		%><li><%= link_to 'Register as New User', signup_path %></li><li><%= link_to 'Sign In', signin_path %></li><%
	else
		%><li class="text">Signed in as <%= current_user.name %> <%
		case session[:source]
		when 'twitter'
			%><%= image_tag('/icon/site/twitter.png', :alt => '(via Twitter)', :title => 'via Twitter', :size => '16x16') %><%
		when 'facebook'
			%>(via Facebook)<%
		end
		%></li><li><%= link_to 'Your Account', account_path %></li><li><%= link_to 'Sign Out', signout_path %></li><%
	end %>
</ul>
<form action="" method="get" accept-charset="utf-8" id="globalsearch" role="search">
<p><input name="key" type="text" size="24" placeholder="Search this website" required><input type="submit" value="Search"></p>
</form>
</header>

<nav role="navigation"><ul id="navmenu">
<li<%= @site_section == 'Pages' ? ' class="current"'.html_safe : '' %>><%= link_to 'Pages', pages_path %></li>
<li<%= @site_section == 'Events' ? ' class="current"'.html_safe : '' %>><%= link_to 'Events', events_path %></li>
<li<%= @site_section == 'Projects' ? ' class="current"'.html_safe : '' %>><%= link_to 'Projects', projects_path %></li>
<li<%= @site_section == 'Admin' ? ' class="current"'.html_safe : '' %>><a href="">Admin</a></li>
<li<%= @site_section == 'Settings' ? ' class="current"'.html_safe : '' %>><%= link_to 'Settings', settings_path %></li>
<li<%= @site_section == 'Documents' ? ' class="current"'.html_safe : '' %>><%= link_to 'Documents', documents_path %></li>
</ul>
<%
if @site_breadcrumbs && @site_breadcrumbs.size > 0
	%><ul id="breadcrumb">
<%	@site_breadcrumbs.each do |breadcrumb|
		%><li><%= link_to breadcrumb[:text], breadcrumb[:url] %></li>
<% 	end
	%></ul>
<%
end
%></nav>
<%

if flash.length > 0 %>
<div id="flash"<%= flash.length <= 0 ? ' class="hidden"'.html_safe : '' %>><%
if flash.length > 0
	flash.each do |key, msg|
		%><p class="<%= key %>"><%= msg %></p>
<%	end
end %></div>
<% end -%>

<%

main_class = @page_has_chunks ? 'withchunks' : 'single'
if @page_main_class.present?
  main_class += ' ' + @page_main_class
end

%>
<div id="main" class="<%= main_class %>" role="main">
<%= yield %>
</div>

<footer id="footer" role="contentinfo">
<%
if @versioned_item || content_for?(:actions)
	%><p class="actions">
<%
  if @versioned_item && @versioned_item.versions.count > 1
    if @versioned_item.is_a? Page
      %><%= link_to 'Versions', page_versions_path(@versioned_item), :class => 'action',
        :title => 'Previous versions of this Page' %>
<%  elsif @versioned_item.is_a? Event
      %><%= link_to 'Versions', event_versions_path(@versioned_item), :class => 'action',
        :title => 'Previous versions of this Event' %>
<%  end
  end
%><%= yield :actions %>
</p>
<% end -%>
<%= yield :footer -%>
<p id="about"><a href="">About <%= Wayground::Application::NAME %></a>.</p>
<p id="copyright">Copyright ©2003-<%= Time.now.strftime('%Y') %> <%= Wayground::Application::NAME %>.</p>
</footer>
</body></html>